main {
  padding: 24px;

  mat-spinner {
    margin: auto;
  }
}

.minimal-input {
  font-family: inherit;
  padding: 8px;
  border-radius: 24px;
  outline: none;
  border: 1px solid
    var(--mdc-outlined-button-outline-color, var(--mat-app-outline));
}
