<mat-toolbar fxLayoutGap="8">
  @if (!hasSelection()) {
    <input
      class="minimal-input"
      placeholder="جستجو..."
      [formControl]="searchControl"
      style="width: 300px"
    />

    <select [(ngModel)]="selectedTag" class="minimal-input">
      <option [value]="null">همه برچسب‌ها</option>
      @for (tag of tagsQuery.data() || []; track tag) {
        <option [value]="tag">{{ tag }}</option>
      }
    </select>

    <select [(ngModel)]="selectedStatus" class="minimal-input">
      <option [value]="null">همه وضعیت‌ها</option>
      <option [value]="ConnectionStatus.Online">
        {{ ConnectionStatusText[ConnectionStatus.Online] }}
      </option>
      <option [value]="ConnectionStatus.Pending">
        {{ ConnectionStatusText[ConnectionStatus.Pending] }}
      </option>
      <option [value]="ConnectionStatus.Offline">
        {{ ConnectionStatusText[ConnectionStatus.Offline] }}
      </option>
      <option [value]="ConnectionStatus.Null">
        {{ ConnectionStatusText[ConnectionStatus.Null] }}
      </option>
    </select>

    <span fxFlex></span>
    <button mat-stroked-button (click)="openFormDialog(undefined, true)">
      افزودن تجمیعی
    </button>
    <button mat-flat-button (click)="openFormDialog()">افزودن تکی</button>
  } @else {
    <button
      mat-icon-button
      class="error-button"
      (click)="table.clearSelection()"
    >
      <mat-icon fontIcon="cancel" class="error-text" />
    </button>
    <span fxFlex> {{ selectedIds().length }} دستگاه انتخاب شده </span>
    <button mat-icon-button (click)="upgrade()">
      <mat-icon fontIcon="upgrade" />
    </button>
    <button mat-icon-button (click)="remove()">
      <mat-icon fontIcon="delete" />
    </button>
  }
</mat-toolbar>
<main fxLayout="column">
  @if (data()) {
    <p>تعداد: {{ query.data()?.count }}</p>
    <app-table
      [dataSource]="data"
      [selectedIds]="selectedIds"
      (editClick)="openFormDialog($event)"
      (removeClick)="remove($event)"
      (upgradeClick)="upgrade($event)"
      [total]="query.data()?.count"
      (onPageChange)="page.set($event)"
      (onPageSizeChange)="limit.set($event)"
      [currentPage]="page() - 1"
      [currentPageSize]="limit()"
    />
  } @else {
    <mat-spinner [diameter]="32" />
  }
</main>
