<form (ngSubmit)="login(usernameInput.value, passwordInput.value, $event)">
  <mat-card class="surface-background">
    <mat-card-content fxLayout="column" fxLayoutGap="16">
      <h2>ورود به سیستم</h2>
      <mat-form-field>
        <mat-label>نام کاربری</mat-label>
        <input #usernameInput matInput [readonly]="loading()" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>رمز عبور</mat-label>
        <input #passwordInput matInput type="password" [readonly]="loading()" />
      </mat-form-field>

      <button id="action" type="submit" [disabled]="loading()" mat-flat-button>
        ورود
      </button>
    </mat-card-content>
  </mat-card>
</form>
