<table mat-table [dataSource]="dataSource() || []">
  <ng-container matColumnDef="checkbox">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="toggleAll()" />
    </th>
    <td mat-cell *matCellDef="let element" style="width: 48px">
      <mat-checkbox (change)="toggle(element)" />
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>عنوان</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="serial">
    <th mat-header-cell *matHeaderCellDef>سریال</th>
    <td mat-cell *matCellDef="let element">{{ element.serial }}</td>
  </ng-container>

  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef>ورژن فریمور</th>
    <td mat-cell *matCellDef="let element">
      @let isUpdate = element.currentVersion === element.version;
      <span
        [ngClass]="{ 'error-text': !isUpdate }"
        [matTooltip]="isUpdate ? '' : 'در انتظار آبدیت به ' + element.version"
      >
        {{ element.currentVersion || 'بدون فریمور' }}
      </span>
      <button
        mat-icon-button
        (click)="upgradeClick.emit(element)"
        style="vertical-align: middle"
      >
        <mat-icon fontIcon="upgrade" />
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef>برچسب‌ها</th>
    <td mat-cell *matCellDef="let element">
      <mat-chip-set>
        @for (tag of element.tags; track $index) {
          <mat-chip>{{ tag }}</mat-chip>
        }
      </mat-chip-set>
    </td>
  </ng-container>

  <ng-container matColumnDef="connectionAtStatus">
    <th mat-header-cell *matHeaderCellDef>وضعیت</th>
    <td mat-cell *matCellDef="let element">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        matTooltip="{{ element.connectedAt | pdate }}"
        matTooltipPosition="before"
      >
        @switch (element.connectedAt | connectionStatus) {
          @case (ConnectionStatus.Null) {
            <mat-icon fontIcon="fiber_manual_record" />
          }
          @case (ConnectionStatus.Offline) {
            <mat-icon fontIcon="fiber_manual_record" class="red" />
          }
          @case (ConnectionStatus.Pending) {
            <mat-icon fontIcon="fiber_manual_record" class="yellow" />
          }
          @case (ConnectionStatus.Online) {
            <mat-icon fontIcon="fiber_manual_record" class="green" />
          }
        }
        {{ element.connectedAt | connectionStatus: true }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <div fxLayout="row" fxLayoutAlign="flex-end center">
        @if (element.details) {
          <button mat-icon-button [matMenuTriggerFor]="detailsMenu">
            <mat-icon fontIcon="list" />
          </button>
          <mat-menu #detailsMenu="matMenu">
            <mat-list>
              @for (item of element.details | keyvalue; track $index) {
                <mat-list-item style="width: 200px">
                  <span matListItemLine>{{ item.key }}</span>
                  <div matListItemMeta fxLayout="row">
                    <span>{{ item.value }}</span>
                  </div>
                </mat-list-item>
              }
            </mat-list>
          </mat-menu>
        }
        <button mat-icon-button (click)="editClick.emit(element)">
          <mat-icon fontIcon="edit" />
        </button>
        <button mat-icon-button (click)="removeClick.emit(element)">
          <mat-icon fontIcon="delete" />
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [pageIndex]="currentPage()"
  (page)="pageChange($event)"
  [length]="total()"
  [pageSize]="100"
  showFirstLastButtons
>
</mat-paginator>
