<form [formGroup]="formGroup">
  <h4 mat-dialog-title>ایجاد دستگاه جدید</h4>
  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <mat-label>عنوان</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{data?.isRange ? 'از سریال' : 'سریال'}}</mat-label>
      <input matInput formControlName="serial" />
    </mat-form-field>
    @if (data?.isRange) {
      <mat-form-field>
        <mat-label>تا سریال</mat-label>
        <input matInput formControlName="toSerial" />
      </mat-form-field>
    }
    <mat-form-field class="example-chip-list">
      <mat-label>برچسب‌ها</mat-label>
      <mat-chip-grid #chipGrid>
        @for (tag of tags; track tag) {
        <mat-chip-row (removed)="removeTag(tag)">
          {{ tag }}
          <button matChipRemove>
            <mat-icon fontIcon="cancel"></mat-icon>
          </button>
        </mat-chip-row>
        }
        <input
          placeholder="برچست جدید..."
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="addTag($event)"
        />
      </mat-chip-grid>
      <mat-hint>با enter از هم جدا کنید</mat-hint>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      [disabled]="mutation.isPending()"
      mat-button
      mat-dialog-close
      type="button"
    >
      انصراف
    </button>
    <button
      [disabled]="mutation.isPending()"
      mat-flat-button
      type="submit"
      (click)="mutation.mutate(dto)"
    >
      ذخیره
    </button>
  </mat-dialog-actions>
</form>
