@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$green-palette,
    ),
    typography: (
      plain-family: 'Vazirmatn',
      brand-family: 'Vazirmatn',
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Vazirmatn, 'Helvetica Neue', sans-serif;
}

*[matlistitemicon],
*[matlistitemmeta] {
  align-self: center !important;
  margin-top: 0 !important;
}

.ltr {
  direction: ltr;
  display: inline-block;
}

.primary-toolbar {
  background-color: mat.get-theme-color($theme, primary-container) !important;
  color: mat.get-theme-color($theme, on-primary-container) !important;
}

.error-button {
  @include mat.button-color($theme, $color-variant: error);
}

.primary-text {
  color: mat.get-theme-color($theme, primary) !important;
}
.tertiary-text {
  color: mat.get-theme-color($theme, tertiary) !important;
}
.error-text {
  color: mat.get-theme-color($theme, error) !important;
}
